.modal {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease;
}

.modal__form_delete {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  padding: 36px 50px 32px;
  box-sizing: border-box;
  position: relative;
  border-style: none;
  border-radius: 8px;
}

.modal__container_type_delete {
  max-width: 630px;
  padding: 32px 20px;
}

.modal__container_type_preview {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
}

.modal__preview-content {
  position: relative;
  display: inline-block;
  text-align: center;
}

.modal__caption {
  width: fit-content;
  color: #fff;
  background-color: rgba(33, 33, 33, 1);
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.modal__image {
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  min-width: 288px;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__title_delete {
  font-size: 24px;
  text-align: center;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  line-height: 1.1;
  font-weight: 500;
  font-size: 16px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__close-btn {
  background: transparent url(../images/close-btn.svg) center no-repeat;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
}

.modal__close-btn_type_preview {
  background-image: url(../images/preview_close-btn.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
  position: absolute;
}

.modal__close-btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

.modal__save-btn {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-style: none;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__defualt-btn {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-style: none;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__delete-btn {
  background-color: rgba(255, 101, 101, 1);
}

.modal__delete-btn:hover {
  background-color: rgba(255, 51, 51, 1);
  cursor: pointer;
}

.modal__cancel-btn {
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 1);
}

.modal__cancel-btn:hover {
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  cursor: pointer;
}

.modal__save-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

.modal__save-btn:disabled {
  background-color: rgba(33, 33, 33, 0.5);
  cursor: not-allowed;
}

@media screen and (max-width: 627px) {
  .modal__form_delete {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container_type_delete {
    width: 300;
    min-height: 208;
    gap: 20px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__title_delete {
    margin: 0 0 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-btn {
    width: 100%;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__caption {
    margin-top: 8px;
    font-size: 16px;
  }

  .modal__image {
    border-radius: 4px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__container_type_preview {
    padding: 0;
  }
}
